@{
    ViewBag.Title = "About";
}
<h2>ОАО 8 Марта</h2>
<div class="news-list">
    <p class="news-item">
        <b>О предприятии</b><br>

    </p><p><img width="520" height="351" align="top" src="~/Content/IMG_7574.jpg">&nbsp;</p>

    <p>В Беларуси предприятие «8 Марта» считают одним из крупнейших предприятий легкой промышленности, известное в Республике Беларусь и далеко за ее пределами. Cегодня мы являемся одним из лидеров по производству и продажам трикотажных и чулочно-носочных изделий.</p>

    <h4><font size="4"><font color="#ff0000"><span style="background-color: rgb(192, 192, 192);"><span style="background-color: rgb(255, 255, 255);">Истор</span></span></font><font color="#ff0000"><span style="background-color: rgb(192, 192, 192);"><span style="background-color: rgb(255, 255, 255);">ия развития</span></span></font></font></h4>

    <p>История предприятия началась в 1926г., когда была открыта трикотажная мастерская в составе 5 человек. Одна из причин популярности ОАО «8 Марта» - богатый ассортимент и высокий уровень качества, что неоднократно подтверждалось на представительных выставках и ярмарках в Беларуси, России, Германии. На предприятии внедрена система менеджмента качества по системе СТБ ИСО 9001-2015, которая стала эффективным средством для закрепления уже достигнутых результатов в области качества, о чем свидетельствует выпуск изделий на экспорт в Россию и страны Прибалтики. Ведется работа по созданию и внедрению новых технологий, нового ассортимента. Основной акцент ставится на естественные природные свойства, практичность и комфорт, удобство и дизайн, что отвечает модным тенденциям. Для крашения и отделки полотен установлено оборудование "First" - (Италия), "Рото-Стрим" "DMS" -&nbsp; (Турция), отделочные - линия "Lafer" - (Италия), "DMS" -&nbsp; (Турция), сушильно-ширильные машины "DMS". Для нанесения печати используется печатная машина "S - type Plus", "Sp x -trem VT <img width="260" height="179" align="right" src="~/Content/IMG_7584.jpg">", шаблонная печатная машина "Шторк". Большая работа проводится специалистами по освоению новых видов сырья, разработке новых изделий. Трикотажные полотна выпускаются в модной цветовой гамме с разнообразной тематикой рисунков и штучной печати, с использованием вышивок. Для обеспечения прочности крашения полотен и чулочно-носочных изделий используются активные и светоустойчивые красители. Внедрена гидрофильная технология крашения полотен,<img width="260" height="151" align="left" src="~/Content/IMG_6821.jpg"> улучшающая потребительские свойства изделий.</p>

    <h2><font color="#ff0000"><font size="4">Направления деятельности</font></font></h2>

    <p>Предприятие долгие годы выпускает изделия женской, мужской, детской, ясельной ассортиментных групп трикотажа и чулочно-носочный ассортимент для мужчин, женщин и детей. В течение года разрабатывается и внедряется в производство свыше 400 моделей трикотажных изделий и свыше 70 моделей чулочно-носочной группы.&nbsp;</p>

    <p><font color="#ff0000"><font size="4"><strong>Виды деятельности:</strong></font></font></p>

    <p>- Крашение пряжи</p>

    <p>- Вязание и крашение полотна</p>

    <p>- Производство трикотажных и чулочно - носочных изделий под заказ, согласно выпускаемого ассортимента.</p>

    <h2><font color="#ff0000"><font size="4">О выпускаемом ассортименте для детей</font></font></h2>

    <p>ОАО «8 Марта» с нежной любовью к детям разрабатывает и выпускает качественный, красивый удобный верхний и бельевой трикотаж и чулочно-носочные изделия для всех возрастных групп: новорожденных детей, ясельного и дошкольного возраста, школьников и подростков. Мы предлагаем трикотаж для сна, прогулок, учебы, занятий спортом, активного отдыха, в том числе купальный ассортимент. Широкий ассортимент чулочно-носочных изделий обеспечивается постоянной сменяемостью рисунков, разнообразной цветовой гаммой, использованием современных видов сырья в сочетании с эластановыми нитями. Каждой маме хочется, чтобы ее чадо не просто привлекательно выглядело, но и чувствовало себя уверенно среди своих сверстников. Важную роль при этом играет комфорт, с которым Ваш ребенок будет носить одежду, предлагаемою нашим предприятием. Поэтому уделяется большое внимание конструкции детской одежды и белья, чтобы ничто не ограничивало свободу Вашего малыша. Сочетание дизайна и практичности, богатой цветовой гаммы, применение набивки и штучных печатей развивает воображение, поднимает настроение Вам и Вашему ребенку. Мы стремимся удовлетворить потребности самых требовательных родителей и воплотить в реальность мечты самих детей.</p>

    <p align="center"><i><b><font color="#ff0000"><span style="text-align: left;">Качество - главный фактор конкурентоспособности&nbsp;</span><span style="text-align: left;">и процветания предприятия</span></font></b></i></p>

    <p align="center"></p>

    <div style="text-align: center;"><b>ПОЛИТИКА ОАО «8 Марта» В ОБЛАСТИ КАЧЕСТВА</b></div>

    <div>
        <br>
    </div>

    <div>Главная цель в области качества – производство и реализация высококачественной, конкурентоспособной продукции, отвечающей ожиданиям и требованиям потребителя и обеспечивающей устойчивую прибыль предприятия.</div>

    <div>Руководство предприятия обязуется создать условия для выпуска высококачественной продукции, удовлетворяющей требованиям потребителей и обеспечивающей повышение эффективности работы предприятия, и ставит перед трудовым коллективом следующие задачи:</div>

    <div>1. Постоянное поддержание высокого уровня качества продукции, повышение ее конкурентоспособности за счет обновления ассортимента и освоения производства новой продукции с улучшенными потребительскими свойствами.</div>

    <div>2. Непрерывное изучение и анализ требований потребителей с целью повышения их удовлетворенности.</div>

    <div>3. Повышение эффективности работы предприятия, увеличение объемов производства и расширение рынков сбыта.</div>

    <div>4. Модернизация и техническое переоснащение производства.</div>

    <div>5. Рациональное и экономное использование материальных ресурсов.</div>

    <div>6. Обеспечение соответствия деятельности предприятия, а также выпускаемой продукции законодательным и обязательным требованиям.</div>

    <div>7. Постоянное совершенствование и повышение результативности системы менеджмента качества проектирования, разработки, производства и реализации изделий трикотажных и чулочно-носочных, полотна трикотажного, пряжи крашеной, соответствующей требованиям СТБ ISO 9001-2015.</div>

    <div>8. Выбор надёжных поставщиков и долговременное результативное сотрудничество с ними на основе взаимовыгодных отношений.</div>

    <div>9. Сохранение и развитие кадрового потенциала предприятия путем материальной заинтересованности и обеспечения необходимых социальных условий.</div>

    <div>10. Постоянное повышение квалификации персонала предприятия. Руководство предприятия берет на себя обязательства предоставлять средства и ресурсы для реализации Политики и несет ответственность за ее реализацию, а также берет обязательства разъяснять персоналу цели и задачи Политики в области качества, вовлекать его в деятельность по управлению качеством.</div>

    <p align="center"><font color="#000080"><font face="Georgia"><em>В одежде от ОАО «8 Марта» Вы почувствуете себя уверенно и комфортно, ведь тенденции современной жизни таковы, что успех любит уверенных в себе людей. </em></font><font face="Georgia"><em>Приглашаем всех к сотрудничеству с нами.</em></font></font></p>

    <p align="center"><font size="4"><font color="#ff0000">Желаем приятных покупок!</font></font></p>
    <p></p>
    <br>
</div>
