@{
    ViewBag.Title = "Home Page";
}

<div class="img-rounded">
    <br><br>
    <p style="text-align:center"><img src="~/Content/123961814749e306489d213,230x-,zoom,zoom.jpg" style="width:40%; height:40%"></p>
</div>